* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  aside,
  header {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  html {
    font-size: 62.5%;
  }
  
  @font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
  }
  
  .header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    padding: 28px 248px 124px;
    position: relative;
    z-index: 0;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  .header_container {
    max-width: 1200px;
    margin: auto;
  }
  
  .header_line {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
  
  .nav__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    margin-right: 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #ffffff;
    list-style-type: none;
    position: relative;
    z-index: 1;
  }
  
  .nav__list__item:hover {
    text-decoration: underline;
  }
  
  .header_title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 128px 0;
  }

  .trend_title_text {
    width: 100%;
    padding: 59px 0 41px;
    font-size: 2rem;
    line-height: calc(29/20);
  }

  .trend_underline {
    text-align: center;
    font-family: OpenSans-Bold, Arial, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  
  .trend_underline::after {
    content: "";
    height: 3px;
    width: 66px;
    display: block;
    margin: 12px auto 0;
    background-color: #e1d9bd;
  }

  .blocks-trend {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }

  .block-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
  }

  .block-bg::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .block-bg_garden {
    background-image: url(../images/trend1.jpg);
  }

  .block-bg_chese {
    background-image: url(../images/trend2.jpg);
  }

  .block-bg_people {
    background-image: url(../images/trend3.jpg);
  }

  .block-bg_lemon {
    background-image: url(../images/trend4.jpg);
  }

  .block-trend {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8% 20px 15px;
  }
  
  .block-post {
    padding: 41px 40px 36px 25px;
    border: 3px solid #b59f5b;
  }

  .block__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    list-style-type: none;
    margin-bottom: 10px;
  }

  .block-tag {
    text-decoration: none;
    font-family: OpenSans-Bold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
  }

  .block_title_item {
    font-family: OpenSans-Bold, Arial, sans-serif;
    font-size: 2rem;
    line-height: calc(24/20);
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  .block_title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .main-aside {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
  }
  
  .main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 65%;
  }
  
  .post {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .post_img {
    background-color: #000000;
    width: 381px;
    height: 291px;
  }
  
  .post_text {
    margin-left: 30px;
  }
  
  .post__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin-bottom: 54px;
  }
  
  .tag {
    padding-right: 16px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
  }
  
  .tag:hover {
    text-decoration: underline #dcd2b8 2px;
  }
  
  .post_title {
    margin-top: 14px;
    margin-bottom: 35px;
  }
  
  .post_title_item {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 24px;
  }
  
  .post_title_item:hover {
    color: #b59f5b;
  }
  
  .last-post-date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    color: #888888;
    margin-right: 16px;
  }
  
  .author {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #000000;
  }
  
  .post_paragraph {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
  }
  
  .post_paragraph_mussic {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
    margin-bottom: 22px;
  }
  
  .aside {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    height: 2420px;
    width: 287px;
    margin: 66px auto 0 120px;
  }
  
  .aside_title {
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: OpenSans-Bold, sans-serif;
    position: relative;
    margin-bottom: 30px;
  }
  
  .aside_title::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
  }
  
  .aside__post {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding-bottom: 22px;
  }
  
  .aside__post:first-child {
    margin-top: 46px;
  }
  
  .aside__post_info {
    padding-left: 18px;
  }
  
  .aside__post_date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
  }
  
  .aside__post_title-link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
  }
  
  .aside__search-form {
    margin-top: 50px;
    margin-bottom: 62px;
  }
  
  .input__form-field {
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 50px;
    width: 222px;
    height: 47px;
    font-family: OpenSans-Regular;
    font-size: 13px;
    z-index: 1;
  }
  
  .search__form_button {
    position: absolute;
    height: 47px;
    width: 47px;
    background-color: #b59f5b;
    z-index: 2;
    right: 97;
    background-image: url(../svg/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .search__form_button:hover {
    background-color: #323232;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  input:focus {
    border: 1px solid #b59f5b;
  }
  
  .input__form-email {
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 50px;
    width: 272px;
    height: 47px;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    z-index: 1;
    margin-top: 40px;
  }
  
  .email__form_button {
    margin-top: 15px;
    margin-bottom: 61px;
    width: 272px;
    height: 47px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b59f5b;
  }
  
  .email__form_button:hover {
    background-color: #323232;
  }
  
  .tags {
    margin-top: 41px;
    margin-bottom: 61px;
  }
  
  .list__tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .posts__item_link {
    display: block;
    padding: 4px 13px;
    margin-right: 5px;
    margin-bottom: 6px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    border: 3px solid #eeeeee;
  }
  
  .posts__item_link:hover {
    border: 3px solid #b59f5b;
  }
  
  .topic-wrap {
    margin-top: 48px;
  }
  
  .topic-item {
    font-family: OpenSans-Bold, sans-serif;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .topic-item__link {
    color: #000000;
    font-size: 14px;
  }
  
  .topic-item__link:hover {
    color: #b59f5b;
  }
  
  .topic-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 30px;
    background-color: #eeeeee;
  }
  
  .topic-item__counter {
    position: relative;
    top: 0;
    font-size: 12px;
    color: #b59f5b;
    margin-top: -8px;
  }
  .news-product {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .products {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }

  .products_title_text {
    padding-bottom: 28px;
  }

  .product {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__content {
    position: relative;
    top: -30px;
    flex: 1;
    align-content: flex-start;
    align-items: flex-end;
    padding: 50px 20px 25px;
    border: 3px solid #b59f5b;
  }

  .product__title {
    width: 100%;
    margin-bottom: 0.5em;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 2em;
    line-height: calc(24/20);
    color: #0f0d0e;
    text-transform: uppercase;
  }

  .product__description {
    width: 100%;
    margin-bottom: 20px;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 1.5em;
    line-height: calc(22/15);
    color: #0f0d0e;
  }

  .product_link {
    margin-bottom: 2em;
    color: #b59f5b;
    text-decoration: none;
  }

  .product__img {
    width: 100%;
  }

  .product__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .product__prices {
    font-family: OpenSans-Bold, sans-serif;
    color: #0f0d0e;
  }

  .product__price-old {
    display: block;
    font-size: 1.4em;
    text-decoration: line-through;
  }

  .product__price {
    display: block;
    margin-top: auto;
    font-size: 2em;
  }

  .product__button {
    height: 48px;
    width: 140px;
    padding: 15px 0;
    border: none;
    margin-left: auto;
    font-family: OpenSans-Bold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #b59f5b;
  }

  .footer {
    display: flex;
    margin-top: 64px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  
  .footer-wrap {
    width: 1170px;
    height: 80px;
    background-color: #f4f7f6;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-social {
    display: flex;
    padding: 30px 0;
  }
  
  .footer__social-link {
    width: 25px;
    height: 25px;
    display: block;
    background-position: center center;
    background-size: cover;
  }
  
  .footer__soc-item {
    margin-right: 25px;
  }
  
  .footer__soc-item:nth-child(n + 1) {
    margin-right: 80px;
  }
  
  .footer__soc-item:last-child {
    margin-right: 0;
  }
  
  .socials-img {
    height: 20px;
    object-fit: cover;
  }
  
  .footer-copirate {
    margin-top: 70px;
    text-align: center;
  }
  
  .footer-copirate_item {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #999999;
  }
  